@charset "UTF-8";
/* ==========================================================================
   Definindo valores padrões
   ========================================================================== */
/* ==========================================================================
   Elementos básicos
   ========================================================================== */
body {
  position: relative;
  color: #2c3e50;
  font-family: "Source Code Pro", sans-serif; }

h1, h2, h3, h4, h5, h6 {
  font-family: "VT323";
  text-transform: lowercase;
  color: #34495e; }

hr {
  margin: 0 auto;
  border: 2px dashed; }

a {
  -o-transition: .25s;
  -ms-transition: .25s;
  -moz-transition: .25s;
  -webkit-transition: .25s; }

input, textarea {
  padding: 10px;
  font-family: monospace; }

footer {
  position: relative;
  border-top: 3px dashed #e6e6e6;
  padding-top: 50px;
  padding-bottom: 30px;
  color: #e6e6e6;
  text-align: center;
  background-color: #2c3e50; }
  footer a {
    color: #fff; }
    footer a:hover {
      color: #fff;
      opacity: .8; }
  footer i {
    padding: 5px; }

/* ==========================================================================
   Classes de apoio
   ========================================================================== */
.align-left {
  text-align: left; }

.align-center {
  text-align: center; }

.align-right {
  text-align: right; }

.vAlign {
  width: 100%;
  height: 100%;
  display: table; }
  .vAlign .vBox {
    display: table-cell;
    vertical-align: middle; }

.linha-discreta {
  width: 88px;
  border: 1px dashed;
  margin: 0 auto 30px auto; }

/* ==========================================================================
   Personalizando o bootstrap
   ========================================================================== */
.navbar-default {
  background-color: rgba(255, 255, 255, 0);
  border: none;
  -o-transition: .25s;
  -ms-transition: .25s;
  -moz-transition: .25s;
  -webkit-transition: .25s; }
  .navbar-default a {
    color: #fff !important; }
    .navbar-default a:hover {
      color: #e6e6e6 !important; }
  .navbar-default .active a {
    background-color: rgba(200, 200, 200, 0.5) !important; }
  .navbar-default.sticky {
    background-color: rgba(255, 255, 255, 0.95); }
    .navbar-default.sticky a {
      color: #34495e !important; }
      .navbar-default.sticky a:hover {
        color: #2c3e50 !important; }

.btn {
  font-family: "VT323";
  text-transform: uppercase; }

.btn-primary {
  background-color: #34495e;
  border-color: #2c3e50; }
  .btn-primary:hover {
    color: #34495e;
    background-color: #e6e6e6;
    border-color: #34495e;
    opacity: .9; }

.btn-large {
  font-size: 24px;
  padding-left: 20px;
  padding-right: 20px; }

/* ==========================================================================
   Página principal
   ========================================================================== */
section.featured {
  padding: 50px 0;
  text-align: center; }
  section.featured .featured-title {
    margin-bottom: 50px; }
  section.featured .row {
    margin-bottom: 30px; }
  section.featured.dark {
    background-color: #e6e6e6; }

#blog [class^='col'] {
  height: 300px; }

#intro {
  position: relative;
  height: 600px;
  color: #fff;
  text-align: center;
  text-shadow: 1px 1px #2c3e50;
  background-color: #34495e;
  background-image: url("../images/background.jpg");
  background-repeat: no-repeat;
  background-size: cover; }
  #intro.jumbotron {
    padding: 0;
    margin-bottom: 10px; }
    #intro.jumbotron p {
      font-weight: 500; }
  #intro .vAlign {
    background-color: rgba(52, 73, 94, 0.5); }
  #intro #hello-world {
    width: 420px;
    margin: 0 auto; }
    #intro #hello-world li {
      width: 420px;
      text-align: center; }

#portfolio .item-portfolio {
  background-color: #fff;
  padding: 5px;
  border: 1px solid #ccc;
  -o-transition: .25s;
  -ms-transition: .25s;
  -moz-transition: .25s;
  -webkit-transition: .25s; }
  #portfolio .item-portfolio:hover {
    background-color: #e6e6e6; }

#contato {
  padding-bottom: 20px; }
  #contato .form-contato {
    width: 460px;
    margin: 0 auto; }
  #contato input[type="text"] {
    width: 215px; }

#back-to-top {
  position: absolute;
  bottom: 30px;
  right: 30px; }
  #back-to-top a {
    color: #e6e6e6;
    opacity: .8; }
    #back-to-top a:hover {
      opacity: 1; }

/* ==========================================================================
   Responsividade
   ========================================================================== */

/*# sourceMappingURL=style.css.map */
